@model ProductPageViewModel

@{
    ViewData["Title"] = "Passing Data to Views";
    var products = Model.Products;
}

<h1 class="display-1">@ViewData["Title"]</h1>

<h2>ViewData</h2>
<p>Product Name: @ViewData["ProductName"]</p>
<p>Price: $@ViewData["Price"]</p>
<p>Available: @ViewData["IsAvailable"]</p>
<p>Rating: @((double)ViewData["Rating"])</p>
<p>Category: @ViewData["Category"]</p>

<h2>ViewBag</h2>
<p>Name: @ViewBag.UserName</p>
<p>Age: @ViewBag.UserAge</p>
<p>Premium Member: @ViewBag.IsPremiumMember</p>
<p>Last Login: @ViewBag.LastLoginDate</p>

<h2>Product Details</h2>
<p>Available Product Count: @Model.AvailableProductsCount</p>
<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(14rem; 1fr));">
    @foreach (var product in products)
    {
        @await Html.PartialAsync("_ProductPartial", product)
    }
</div>
