@using Humanizer
@model BlurbItemViewModel
@{
    ViewData["Title"] = "Blurb Details";
    var blurb = Model;
}

<h1 class="display-4">Blurb Details</h1>

<div class="card shadow mb-3">
    <div class="card-body">
        <p class="lead card-text">@blurb.Content</p>
        <p class="card-text"><small class="text-muted">Posted by: @blurb.AuthorUsername
                (@blurb.CreatedAt.Humanize())</small></p>
        <div class="d-flex align-items-center gap-2">
            <p class="card-text">Liked by:
                @foreach (var liker in blurb.Likers)
                {
                    <span class="badge rounded-pill text-bg-primary">@liker</span>
                }
            </p>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-end align-items-center gap-2">
            <span>@blurb.LikeCount likes</span>
            @if (!blurb.LikedByMe)
            {
                <form asp-action="Like" asp-controller="Post" asp-route-id="@blurb.Id" method="POST">
                    <button type="submit" class="btn btn-sm">
                        <i class="bi bi-hand-thumbs-up"></i>
                    </button>
                </form>
            }
            else
            {
                <form asp-action="UnLike" asp-controller="Post" asp-route-id="@blurb.Id" method="POST">
                    <button type="submit" class="btn btn-sm">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </button>
                </form>
            }
        </div>
    </div>
</div>